.volver-btn {
    position: absolute;
    color:#2d3748;
    padding: 10px;
    font-weight: 600;
    background-color: #4A98F7;
    border: 1px solid #4A98F7;
    border-radius: 5px;
    top: 10px;
    left: 10px;
}

.title_menu {
    width: 100vw;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    padding: 15px;
}
.products {
    margin-bottom: 30px;
    display: flex;
    padding: 20px;
    width: 100vw;
    justify-content: space-evenly;
    text-align: center;
  }

.product {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 0.3fr 0.6fr 1fr;
    margin: 10px;
    width: 28vw;
    border: 3px white solid;
    border-radius: 5px;
    grid-template-areas: 
      "grid-title"
      "grid-img"
      "grid-info"
}

.grid-title { 
    padding: 15px;
    font-size: 25px;
    font-weight: 600;
    grid-area: grid-title;
    border-bottom: 2px white solid;
}
.grid-img { 
    grid-area: grid-img;
    max-width: 28vw;
    height: 150px;
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-bottom: 2px white solid;
}
.img {
    max-height: 150px;
}
.grid-info { 
    padding: 20px;
    grid-area: grid-info; 
    display: flex;
    flex-direction: column;
    border-bottom: 2px white solid;
    height: 100%;
}
.description { 
    flex: 1;
    border-bottom: 2px white solid;
    padding-bottom: 15px;
}

.crearPedido-btn {
    color:#2d3748;
    padding: 15px;
    font-weight: 600;
    background-color: green;
    border: 1px solid darkgreen;
    border-radius: 5px;
    width: 200px;
    display: block; /* Convierte el botón en un bloque para centrarlo */
    margin: 100px auto 0;
}
