.cantidad {
    align-self: center;
}

.grid-img { 
    grid-area: grid-img;
    max-width: 28vw;
    height: 150px;
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-bottom: 2px white solid;
}
.img {
    max-height: 150px;
}

.description { 
    flex: 1;
    border-bottom: 2px white solid;
    padding-bottom: 15px;
}

.crearPedido-btn {
    color:#2d3748;
    padding: 15px;
    font-weight: 600;
    background-color: green;
    border: 1px solid darkgreen;
    border-radius: 5px;
    width: 200px;
    display: block; /* Convierte el botón en un bloque para centrarlo */
    margin: 100px auto 0;
}
